:root {
  --background-color: {
    background: inherit;
  };

  --mixin-overflow-ellipsis: {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };

}

button {
  border: 10px red dashed;
}

body {
  @apply --background-color;
}