<template id="header-template">
  <header class="header">
    <h1>todos</h1>
    <label for="newTodo" class="visuallyhidden">What needs to be done?</label>
    <input class="new-todo" id="newTodo" placeholder="What needs to be done?" value="" autofocus/>
  </header>
</template>

<script>

  (function (document, window, APP) {

    const docU = (document._currentScript || document.currentScript).ownerDocument;
    const template = docU.querySelector('#header-template');

    class HeaderComponent extends HTMLElement {

      constructor() {
        super();
      }

      connectedCallback() {

        const temp = docU.importNode(template.content, true);
        this.appendChild(temp);
        this.addEvents();

      }

      disconnectedCallback() {
        this.querySelector('#newTodo').removeEventListener('keydown', this.keyDownEvent);
      }

      addEvents() {
        this.querySelector('#newTodo').addEventListener('keydown', this.keyDownEvent, false);
      }

      keyDownEvent(event) {

        if (Object.is(event.keyCode, APP.CONSTS.ENTER_KEY) && !Object.is(event.target.value.length, 0)) {

          const evt = new CustomEvent('add', {
            detail: { title: event.target.value.trim() }, bubbles: true
          });

          this.dispatchEvent(evt);

          event.target.value = '';

        }

      }

    }

    window.customElements.define('header-component', HeaderComponent);

  })(document, window, APP);

</script>
