<link rel="import" href="../elements/HTMLButton_element.html"/>
<link rel="import" href="view_comp.html"/>

<template id="main-template">

  <section class="main">
    <input class="toggle-all" type="checkbox" id="toggle-all">
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list"></ul>

  </section>

</template>

<script>

  (function (document, window, mediator, ViewComponent) {

    const docU = (document._currentScript || document.currentScript).ownerDocument;
    const template = docU.querySelector('#main-template');

    class MainComponent extends HTMLElement {

      constructor() {
        super();
      }

      connectedCallback() {

        const temp = docU.importNode(template.content, true);
        this.appendChild(temp);

        this.insertListItems();

      }

      insertListItems() {

        let docfrag = document.createDocumentFragment();

        for (let [key, value] of mediator.todosData.entries()) {

          let listBlock = new ViewComponent(key, value.title, value.completed);
          docfrag.appendChild(listBlock);
/*
          console.log(key);
          console.log(value.title);
          console.log(value.completed);
          console.log('break');*/

        }

        document.querySelector('.todo-list').appendChild(docfrag);

      }

    }

    window.customElements.define('main-component', MainComponent);

  })(document, window, mediator, ViewComponent);

</script>
