<link rel="import" href="view_comp.html"/>

<template id="main-template">

  <section class="main">
    <input class="toggle-all" type="checkbox" id="toggle-all">
    <label for="toggle-all">Mark all as complete</label>

    <ul class="todo-list"></ul>

  </section>

</template>

<script>

  (function (document, window, APP, ViewComponent) {

    const docU = (document._currentScript || document.currentScript).ownerDocument;
    const template = docU.querySelector('#main-template');

    class MainComponent extends HTMLElement {

      static get is() {
        return 'main-component';
      }

      static get observedAttributes() {
        return ['listblock', 'display'];
      }

      constructor() {
        super();
      }

      connectedCallback() {

        const temp = docU.importNode(template.content, true);
        this.appendChild(temp);
        this.attachEvents();

      }

      disconnectedCallback() {
        this.removeEventListener('click', this.onClick);
      }

      attributeChangedCallback(attrName, oldValue, newValue) {

        if (Object.is(oldValue, newValue) || Object.is(oldValue, null)) {
          return;
        }

        if (Object.is(attrName, 'listblock')) {
          console.dir(newValue);
          this.listblock = APP.Helpers.jsonToMap(newValue);
          this.insertListItems();
        }

        if (Object.is(attrName, 'display')) {
          this.display = newValue;
        }

      }

      get listblock() {
        return this._listblock;
      }

      set listblock(value) {
        this._listblock = value;
      }

      get display() {
        return this._display;
      }

      set display(value) {
        this._display = value;
        this.displayViews();
      }

      attachEvents() {
        this.addEventListener('click', this.onClick, false);
      }

      onClick(event) {

        if (Object.is(event.target.className, 'destroy')) {

          const id = APP.Helpers.findParent(event.target);

          const evt = new CustomEvent('delete', {
            detail: { id: id.dataset.id }, bubbles: true
          });

          this.dispatchEvent(evt);

        }

      }

      /**
       * @description
       */

      displayViews() {

        const display = {
          'home': () => {
            Array.from(this.querySelectorAll('view-component'), i => i.setAttribute('data-display', 'all'));
          },
          'completed': () => {
            Array.from(this.querySelectorAll('view-component'), i => i.setAttribute('data-display', 'completed'));
          },
          'active': () => {
            Array.from(this.querySelectorAll('view-component'), i => i.setAttribute('data-display', 'active'));
          }
        };
        return display[this._display]();

      }

      /**
       * @description removes all list items before inserting updated items
       * Looks at a different approach of not recreating list items that already exist
       * as in a virtual DOM
       * @param todoUL {object}
       */

      removeULchildren(todoUL) {

        if (todoUL.children) {
          while (todoUL.firstChild) {
            todoUL.removeChild(todoUL.firstChild);
          }
        }

      }

      insertListItems() {

        let docfrag = document.createDocumentFragment();

        const todoUL = document.querySelector('.todo-list');

        this.removeULchildren(todoUL);

        for (let [key, value] of this.listblock.entries()) {

          let listBlock = new ViewComponent(key, value.title, value.completed);
          listBlock.dataset.display = '1';
          docfrag.appendChild(listBlock);

        }

        todoUL.appendChild(docfrag);

      }

    }

    window.customElements.define('main-component', MainComponent);

  })(document, window, APP, ViewComponent);

</script>
