<template id="view-template">

  <li>
    <span class="view">
      <input class="toggle" type="checkbox" id="view-toggle"/>
      <label for="view-toggle"></label>
    </span>
  </li>

</template>

<script>
  /**
   *  <label for="toggle-edit">Edit the to do entry</label>
   *  <input class="edit" id="toggle-edit" value="Create a TodoMVC template"/>
   */
  (function (document, window) {

    const docU = (document._currentScript || document.currentScript).ownerDocument;
    const template = docU.querySelector('#view-template');

    class ViewComponent extends HTMLElement {

      static get is() {
        return 'view-component';
      }

      constructor(key, title, completed) {
        super();
        this._key = key;
        this._title = title;
        this._complete = completed;
      }

      static get observedAttributes() {
        return ['data-display'];
      }

      connectedCallback() {

        const temp = docU.importNode(this.buildNode(template.content), true);
        this.appendChild(temp);
        this.attachEvents();
      }

      disconnectedCallback() {
        this.removeEventListener('click', this.onClick, false);
      }

      attributeChangedCallback(attrName, oldValue, newValue) {

        if (Object.is(oldValue, newValue) || Object.is(oldValue, '1')) {
          return;
        }

        if (Object.is(attrName, 'data-display')) {
          this.data_display = newValue;
        }

      }

      get data_display() {
        return this._data_display;
      }

      set data_display(value) {
        this._data_display = value;
        this.setDisplayClass();
      }

      get edit_node() {
        return this._edit_node;
      }

      set edit_node(value) {
        this._edit_node = value;
      }

      setDisplayClass() {

        this.removeDisplayClass();

        if (Object.is(this.data_display, 'completed') && Object.is(this._complete, false)) {
          this.querySelector('li').classList.add('hidden');
        }
        if (Object.is(this.data_display, 'active') && Object.is(this._complete, true)) {
          this.querySelector('li').classList.add('hidden');
        }
      }

      removeDisplayClass() {

        if (this.querySelector('li') && this.querySelector('li').classList.contains('hidden')) {
          this.querySelector('li').classList.remove('hidden');
        }

      }

      attachEvents() {
        this.addEventListener('click', this.onClick, false);
      }

      onClick(event) {

        /* if (event.target.htmlFor && event.target.htmlFor.includes('view-toggle')) {

         this.querySelector('li').classList.add('editing');

         this.querySelector('li').appendChild(this.edit_node).addEventListener('keydown', function (event) {

         if (Object.is(event.keyCode, APP.CONSTS.ENTER_KEY) && !Object.is(event.target.value.length, 0)) {

         const evt = new CustomEvent('update', {
         detail: { id: this._key, title: event.target.value.trim() }, bubbles: true
         });

         this.dispatchEvent(evt);

         }

         }.bind(this), true);

         }*/

        if (event.target.id.includes('view-toggle') && Object.is(event.target.type, 'checkbox')) {

          this._complete = !this._complete;
          this.setCheckBox(this);

          const evt = new CustomEvent('update', {
            detail: { id: this._key, completed: this._complete }, bubbles: true
          });

          this.dispatchEvent(evt);

        }

      }

      /**
       * @description Build the list item in the document fragment.
       * Performant because it doesn't access the DOM
       * @param content {object} document fragment
       * @returns {*}
       */

      buildNode(content) {

        // input and label need to be unique for valid html
        content.querySelector('input[id*=view-toggle]').id = content.querySelector('input[id*=view-toggle]').id + '_' + this._key;
        content.querySelector('label[for*=view-toggle]').htmlFor = content.querySelector('label[for*=view-toggle]').htmlFor + '_' + this._key;

        content.querySelector('li').dataset.id = this._key;

        // use textContent to prevent XSS attacks
        content.querySelector('label[for*=view-toggle]').textContent = this._title;

        const editNode = document.createElement('input');
        editNode.className = 'edit';
        editNode.id = 'edit_toggle_' + this._key;
        editNode.value = this._title;

        this.edit_node = editNode;

        if (!!this._complete) {
          this.setCheckBox(content, !!this._complete);
        }

        return content;

      }

      setCheckBox(content) {

        if (content.querySelector('input').hasAttribute('checked')) {
          content.querySelector('input').setAttribute('checked', 'checked');
        } else {
          content.querySelector('input').removeAttribute('checked')
        }

        content.querySelector('li').classList.toggle('completed');

      }

    }

    window.ViewComponent = ViewComponent;

    window.customElements.define('view-component', ViewComponent);

  })(document, window);

</script>
